.bottom-navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0; /* 항상 화면 하단에 고정 */
    background-color: white;
    padding: 10px 0;
    border-top: 1px solid #d04040; /* main red 색상 */
  }
  
  .bottom-navigation button {
    background: none;
    border: none;
    font-size: 14px;
    color: #d04040; /* main red */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bottom-navigation-image {
    width: 24px;
    height: 24px;
  }
  