/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */


:root {
  --main-red: #d04040;
  --sub1: #dd968e;
  --sub2: #ffe5de;
  --blue: #84aee1;
  --grey: #929292;
}
  
.container{
    margin: 5%;
    padding : 0px 0px 175px 0px
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo img{
    width: 20%;
    margin : -5% 0% 0% 0%;
}

.Logo2 .logoImage{
    width: 20%;
    margin : -5% 0% 0% 0%;
}

.Logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    position : relative;
}

.mypage{
    width: 10%;
    margin : -5% 0% 0% 0%;
    position : absolute;
    right : 0;
}

.movieContainer{
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 30%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin : 1.5%
}

.genre {
    width: 30%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin : 1.5%
}

.movieGenre {
    text-align: center;
}

.movie img, .genre img{
    max-width: 100%;
    min-height: 80%;
}

.movieTitle{
    text-align: center;
}

.selectedFavorite{
    border: 10px solid #d04040;
}

.selectedHate{
    border: 10px solid gray;
}

.selected{
    border: 10px solid #d04040;

}

.movieRate{
    width: 50%;
    height: 20%;
}

.movieRate img{
    width: 30%;
    float: left;
}

.movieInfo{
    width: 70%;
    float: left;
}

.movieInfo .movieTitle{
    text-align: left;
}

.star-lg{
    width: 15%;
    height: 15%;
}

.dialogButton{
    background-color: #d04040;
    color: #ffffff;
    width: 20%;
    font-weight : 'bold';
    font-size: 20px;
    border : 'none';
    margin : 0% 40%;
    padding : 3%
}

.bookContainer{
    margin : 5%;
    background-color: #636363;
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.book{
    padding : 10%;
    flex : 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color : #ffffff
}

.bookImage{
    width: 60%;
}

.newRecommendationButton{
    margin : 5%;
    background-color: #c7c7c7;
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.newRecommendationButton img{
    padding : 20px
}

.BottomNavigationBar {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    display: flex;  
    align-items: center;
    justify-content: space-around;
    padding : 40px 0px;
    border-top : 10px solid #d04040
}

.BottomNavigationBarButton{
    width: 10%;
}

h1{
    font-size: 50px;
}

h3{
    font-size: 40px;
}

h5{
    font-size: 30px;
}

.bookDescription{
    padding: 5%;
    background-color: #e3e3e3;
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color : #000000
}

.buttonContainer{
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
}

.goodButton{
    background-color: #d04040;
    color : #ffffff;
    width : 30%;
    border-radius: 25px;
}

.badButton{
    background-color: #4280cc;
    color : #ffffff;
    width : 30%;
    border-radius: 25px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

