
.profile-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  background-color: white; 
}

.profile-title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: var(--grey);
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 16px 0;
  border-bottom: 1px solid var(--main-red);
}

.search-input {
  border: none;
  flex: 1;
  padding: 8px;
  outline: none;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.friend-list, .mypage-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friend-item, .mypage-menu li {
  display: flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
}

.star-icon {
  font-size: 24px;
  color: var(--grey);
  cursor: pointer;
  position: relative;
  bottom: 3px;
}

.star-icon.active {
  color: var(--main-red);
}

.edit-user-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.edit-user-form label {
  font-weight: bold;
  margin: 10px 0 5px;
}

.edit-user-form input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid var(--grey);
  border-radius: 4px;
}

.edit-user-form button {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  color: white;
  background-color: var(--main-red);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-button-placeholder {
  position: absolute;
  left: 0;
  width: 24px;
}

.back-button {
  position: absolute;
  left: 0;
  border: none;
  background: none;
  font-size: 24px;
}

.welcome-message {
  margin: 16px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.mypage-menu li + li {
  border-top: 1px solid var(--grey);
}

.separator {
  margin: 0;
}
