.edit-user-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #ffffff;
}

.edit-user-title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: black;
}

.edit-user-form {
  width: 300px; 
  display: flex;
  flex-direction: column;
}

.edit-user-form label {
  font-weight: bold; /* 볼드 처리 */
  margin: 10px 0 5px;
}

.edit-user-form input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #929292;
  border-radius: 4px;
}

.edit-user-form button {
  position: absolute; /* absolute positioning 추가 */
  bottom: 70px; /* 버튼 위치 조정 (하단 내비게이션 위쪽) */
  left: 50%; /* 가운데 정렬을 위한 왼쪽 위치 */
  transform: translateX(-50%); /* 가운데 정렬 보정 */
  padding: 10px 20px;
  color: white;
  background-color: #d04040;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
