.mypage-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.mypage-title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: black; 
}

.back-button-placeholder {
  position: absolute;
  left: 0;
  width: 24px; /* back-button과 동일한 크기로 타이틀을 중앙에 두기 위해 추가 */
}

.back-button {
  position: absolute;
  left: 0;
  border: none;
  background: none;
  font-size: 24px;
}

.welcome-message {
  margin: 16px 0;
  font-size: 16px;
  font-weight: bold; /* 볼드 처리 */
  line-height: 1.5; /* 텍스트의 줄 간격을 통일 */
}

.mypage-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5; /* 텍스트의 줄 간격을 통일 */
}

.mypage-menu li {
  padding: 12px 0; /* 위아래 간격 통일 */
  cursor: pointer;
}

.mypage-menu li + li {
  border-top: 1px solid #929292; /* 두 번째 항목부터 각 항목 사이에만 회색 선 추가 */
}

.separator {
  margin: 0;
}