.reset-pw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
}

.reset-pw-title {
  padding-bottom: 10px;
}

.reset-pw-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.reset-pw-input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #929292;
  border-radius: 5px;
}

.error-message {
  color: #d04040;
  font-size: 12px;
  margin-top: -5px; 
  margin-bottom: 5px; 
}

.success-message {
  color: #d04040;
  font-weight: bold;
  margin-top: 10px;
}


.reset-pw-button {
  padding: 10px;
  background-color: #d04040;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.find-pw-button:hover {
  background-color: #dd968e;
}
