.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
}

.signup-title {
  padding-bottom: 10px;
}

.signup-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.signup-input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #929292;
  border-radius: 5px;
}

.signup-button {
  padding: 10px;
  background-color: #d04040;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.signup-button:hover {
  background-color: #dd968e;
}

.back-login {
  text-align: center;
  font-size: 14px;
}

.back-login a {
  color: #929292;
  text-decoration: none;
  margin: 0 5px;
}
